@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.glowing-wrapper {
    background: #000;
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
  }

.glowing-wrapper::before {
    content: "";
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border-radius: 8px;
    padding: 5px;
    background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    animation: spin 5.5s linear infinite;
}

.glowing-wrapper::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 110%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(7.5rem);
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 5.4s linear infinite;
  }

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}